body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .tab {
    background-color: green;
    display: block;
    min-height: 20vh;
    border: 1 solid;
  }
  
  p {
    font-family: helvetica;
    font-size: 24px;
    text-align: center;
    margin: 25px;
  }
  
  .small {
    font-family: helvetica;
    font-size: 18px;
    text-align: center;
    margin: 25px;
  }
  
  button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
  }
  